        h1 {
            font-style: bold;
            font-family: "Comic Sans MS", cursive, sans-serif;
            color: purple;
            text-align: center;
        }
        nav{
          font-size: 20px;
          text-align: center; 
          font-family: "Comic Sans MS", cursive, sans-serif; 
        }
        nav a{
            color: chartreuse;
        }
        main {
            text-align: center;
        }
        img {
            width: 500px;
        }
        #tv-and-movies h2{
            font-family: "Comic Sans MS", cursive, sans-serif;
            color: darkorange;  
        }
        #toys h2{
            font-family: "Comic Sans MS", cursive, sans-serif;
            color: aqua; 
        }
        #music h2{
            font-family: "Comic Sans MS", cursive, sans-serif;
            color:rosybrown; 
        }
        h4 {
            font-family: "Comic Sans MS", cursive, sans-serif;
            color:fuchsia;  
        }
        footer {
            text-align: center;
            font-family: "Comic Sans MS", cursive, sans-serif;
            color:aquamarine;  
        }