body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;    
}
main {
    display: flex;
    flex-direction: column;
}

.cover-image {
  /* Image URLs are relative to the CSS file! */
  background-image: url(bay.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 2667px;
  margin: 0 0 0 2.65%;

}

/*Phone*/ 
@media only screen and (min-width : 300px) {
    .cover-image {
        background-image: url(bay-320.jpg); 
        width: 95%;
        height: 213px;
    }
    main {
        flex-direction: column;
    }
    p {
        text-align: center;
        justify-content: space-around;
        margin: 50px;
    }
}

/*Tablets */
@media only screen and (min-width : 770px) {
    header{
        width:66%;
    }
    .cover-image {
        background-image: url(bay-768.jpg); 
        width: 95%;
        height: 300px;   
    }
    main {
        width: 33%;
        flex-direction: column;   
    }
    p {
        text-align: center;
        justify-content: space-around;    
    }
    body {
        flex-direction: row-reverse;
    }
}

/*Desktops */
@media only screen and (min-width : 1200px) {
    header {
        width: 100%;
    }
    .cover-image {
        background-image: url(bay-992.jpg); 
        width: 95%;
        height: 700px;
    }
    main {
        width: 100%;
        flex-direction: row;
    }
    p {
        text-align: center;
        justify-content: space-around;
    }
    body {
        flex-direction: column;
    }
}

