body {
    display: flex;
    flex-direction: column;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

header {
    text-align: center;
}

.cover-image {
  /* Image URLs are relative to the CSS file! */
  background-image: url(bay.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 2667px;
  margin: 50px;

}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    .cover-image {
        background-image: url(bay-320.jpg); 
        height:213px;
    }
    main {
        display: flex;
        flex-direction: column;
    }
    p {
        text-align: center;
        justify-content: space-around;
        margin: 50px;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .cover-image {
        background-image: url(bay-480.jpg); 
        height:320px;
    }
    main {
        display: flex;
        flex-direction: column;
    }
    p {
        text-align: center;
        justify-content: space-around;
        margin: 50px;
    }
}



/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .cover-image {
        background-image: url(bay-768.jpg); 
        height:512px;
    }
    main {
        display: flex;
        flex-direction: column;
    }
    p {
        text-align: center;
        justify-content: space-around;
        margin: 50px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .cover-image {
        background-image: url(bay-992.jpg); 
        height:661px;
    }
    main {
        display: flex;
        flex-direction: row;
    }
    p {
        text-align: center;
        justify-content: space-around;
        margin: 50px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .cover-image {
        background-image: url(bay-1200.jpg); 
        height:800px;
    }
    main {
        display: flex;
        flex-direction: row;
    }
    p {
        text-align: center;
        justify-content: space-around;
        margin: 50px;
    }

}
